<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li>
                        <%= link_to(root_path) do %>
                          <i class="fa fa-home">Basty bet</i>
                        <% end %>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><%= link_to(controller_name, root_path+controller_path) %>
                        <i class="icon-angle-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
	</section>