<div class="container">
    <div class="jumbotron">
        <h1>Shejire</h1>
        <p>Add yourself in genealogical tree</p>
        <p>
            <%= link_to 'Add Person', persons_path, class: 'btn btn-primary btn-lg' %>            
        </p>
    </div>
</div>