<div class="container">
    <div class="jumbotron">
        <h1>Shejire</h1>
        <p>Add yourself in genealogical tree</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
</div>